@model ToDoListMVC.Application.ViewModels.ToDoTask.ToDoTaskVm

@{
    ViewData["Title"] = "AddEditTask";
}

<h4>@ViewData["Header"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEdit" asp-controller="ToDoTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" type="date" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ToDoListId" class="control-label">Select list:</label>
                <select asp-for="ToDoListId" class="form-control" asp-items="@(new SelectList(Model.ToDoLists, "Id", "Name"))">
                    <option selected></option>
                </select>
                <span asp-validation-for="ToDoListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="ViewTasks" asp-controller="ToDoTask" asp-route-toDoListId="@Model.ToDoListId" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
